<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.udmitrataniapps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".pelanggan.PesanBenihActivity"
            android:label="Pesan Benih"
            android:parentActivityName=".pelanggan.DashboardPelangganActivity"></activity>
        <activity
            android:name=".pelanggan.LahanPelangganActivity"
            android:parentActivityName=".pelanggan.DashboardPelangganActivity" />
        <activity
            android:name=".pelanggan.InformasiBenihActivity"
            android:parentActivityName=".pelanggan.DashboardPelangganActivity" />
        <activity
            android:name=".petugas.JadwalMonitoringActivity"
            android:parentActivityName=".petugas.DashboardPetugasActivity" />
        <activity
            android:name=".petugas.MonitoringFaseActivity"
            android:parentActivityName=".petugas.DashboardPetugasActivity" />
        <activity
            android:name=".petugas.NotifikasiActivity"
            android:label="Notifikasi"
            android:parentActivityName=".petugas.DashboardPetugasActivity" />
        <activity
            android:name=".petugas.DashboardPetugasActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".pelanggan.DashboardPelangganActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".SignInAnctivity" />
        <activity android:name=".SignInAnctivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>